<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/custom.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
        <title>{ifset title}{include title|striptags} | {/ifset}KOB Čingov SNV</title>
    </head>

    <body>
        <header role="banner" id="banner">
            <!--img src="{$basePath}/css/imgs/background-a.jpg" class="img-responsive" /-->
        </header>

        {include 'navigation.latte'}

        <main id="primary">
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
            <div class="row">
                {include content}
            </div>
        </main>

        <footer>
            &copy; Gaidalf s.r.o.
        </footer>

        {block scripts}
        <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
        <script src="{$basePath}/js/jquery-2.2.2.min.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        {/block}
    </body>
</html>
