<nav class="navbar" id="page-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="visible-xs hidden-sm hidden-md hidden-lg" class="navbar-brand" href="#">KOB Čingov</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li n:if="$user->loggedIn" class="dropdown" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Pridaj <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a n:href="Posts:add#page-nav">Článok</a></li>
                        <li><a n:href="Races:add#page-nav">Preteky</a></li>
                        <li><a n:href="Members:add#page-nav">Člena</a></li>
                        <li><a n:href="Albums:add#page-nav">Album</a></li>
                        <li><a n:href="MapsCollection:add#page-nav">Kolekciu máp</a></li>
                    </ul>
                </li>
                <li>
                    <a n:href="Homepage:#page-nav">Domov</a>
                </li>
                <li>
                    <a n:href="Albums:all#page-nav">Fotogaléria</a>
                </li>
                <li><a n:href="Races:all#page-nav">Kalendár</a></li>
                <li><a n:href="Posts:archive#page-nav">Organizovali sme</a></li>
                <li><a n:href="MapsCollection:all#page-nav">Mapy</a></li>
                <li><a n:href="Members:all#page-nav">Kontakty</a></li>
                <li><a href="#">Linky</a></li>
                <li><a href="#">OR 2016</a></li>
                <li><a href="#">SPC 2016</a></li>
                <li n:if="$user->loggedIn">
                    <a n:href="Sign:out#page-nav">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>