{block content}

<h1>Kontakty</h1>

<section class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {*<p id="add" n:if="$user->loggedIn">
        <a n:href="add#page-nav" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Kontakt
        </a>
    </p>*}

    <table class="table">
        <thead>
            <tr>
                <th>Meno a priezvisko</th>
                <th>Registračné číslo</th>
                <th>Kategória</th>
                <th>SI</th>
                <th>E-mail</th>
                <th>Telefón</th>
                <th n:if="$user->loggedIn" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {foreach $members as $member}
                <tr>
                    <td>{$member->name}</td>
                    <td>{$member->regNum}</td>
                    <td>{$member->gender} - {$member->dateOfBirth}</td>
                    <td>{$member->si}</td>
                    <td>{$member->email}</td>
                    <td>{$member->phoneNum}</td>
                    <td n:if="$user->loggedIn">
                        <a n:href="edit#page-nav, $member->id" class="text-success">
                            <span class="glyphicon glyphicon-pencil"></span> 
                        </a>
                    </td>
                    <td n:if="$user->loggedIn">
                        <a n:href="remove#page-nav, $member->id" class="text-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</section>