{block content}

<h1>Fotogaléria</h1>

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {foreach $albums as $album}
        <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a n:href="view#primary, $album->id">
                <img 
                    src="{$basePath}/{$imgFolder}/{if $album->thumbnail AND file_exists($imgFolder . '/' . $album->thumbnail)}{$album->thumbnail}
                    {else}default.jpg{/if}" 
                     alt="{$album->thumbnail}" class="img-responsive img-thumbnail" />
            </a>
            <figcaption>
                {$album->name}
                {if $user->loggedIn}
                    <a n:href="edit#page-nav, $album->id" class="text-success">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a n:href="remove#page-nav, $album->id" class="text-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                {/if}
            </figcaption>
        </figure>
    {/foreach}
</section>
