{block content}

<h1>{$album->name}</h1>

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p id="add">
        <a n:href="Photos:add#page-nav, $album->id" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Obrázky
        </a>
    </p>
</section>

{if $portrait != null}
    <section id="portrait" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {foreach $portrait as $photo}
            <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <figcaption n:if="$user->loggedIn">
                    <a n:href="Photos:remove#page-nav, $photo->id" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="#page-nav" class="btn btn-warning" title="upraviť obrázok">
                        <span class="glyphicon glyphicon-scissors"></span>
                    </a>
                    <a n:href="Photos:thumbnail#page-nav, $photo->id" class="btn btn-success" title="nastaviť ako miniatúru albumu">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </figcaption>
                <a href="{$basePath}/{$imgFolder}/{$photo->name}">
                    <img src="{$basePath}/{$imgFolder}/{$photo->name}" alt="{$photo->name}" class="img-responsive img-thumbnail"/>
                </a>
            </figure>
        {/foreach}
    </section>
{/if}

{if $landscape != null}
    <section id="landscape" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {foreach $landscape as $photo}
            <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <figcaption n:if="$user->loggedIn">
                    <a n:href="Photos:remove#page-nav, $photo->id" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="#page-nav" class="btn btn-warning" title="upraviť obrázok">
                        <span class="glyphicon glyphicon-scissors"></span>
                    </a>
                    <a n:href="Photos:thumbnail#page-nav, $photo->id" class="btn btn-success" title="nastaviť ako miniatúru albumu">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>

                </figcaption>
                <a href="{$basePath}/{$imgFolder}/{$photo->name}">
                    <img src="{$basePath}/{$imgFolder}/{$photo->name}" alt="{$photo->name}" class="img-responsive img-thumbnail"/>
                </a>
            </figure>
        {/foreach}
    </section>
{/if}
