{block content}

{foreach $posts as $post}
    <article>
        <header>
            <div class="pull-left">
                <header>
                    <a n:href="view#page-nav, $post->id">
                        <h2>{$post->title}</h2>
                    </a>
                </header>
            </div>
            <div class="pull-right" n:if="$user->loggedIn">
                <a n:href="edit#page-nav, $post->id" class="btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </header>
        <main>
            {$post->content}
        </main>
        <footer>
            {$post->author}
        </footer>
    </article>
{/foreach}
