{block content}

<h1>Organizovali sme</h1>
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {foreach $archives as $archive}
        <article>
            <header>
                <div class="pull-left">
                    <header>
                        <a n:href="view#page-nav, $archive->id">
                            <h2>{$archive->title}</h2>
                        </a>
                    </header>
                </div>
                <div class="pull-right" n:if="$user->loggedIn">
                    <a n:href="edit#page-nav, $archive->id" class="btn btn-success">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
            </header>
            <main>
                {$archive->content}
            </main>
            <footer>
                {$archive->author}
            </footer>
        </article>
    {/foreach}
</section>