{block content}

{control modalDialog 'remove', 'Odstrániť príspevok',
    "Naozaj chcete odstrániť článok <span class=\"text-danger text-uppercase\">$post->title</span> ?",
    'danger', 'Odstrániť', 'remove'}

<article>
    <p>
        <a n:href="all#page-nav" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Články
        </a>
    </p>

    <header>
        <div class="pull-left">
            <h1>{$post->title}</h1>
        </div>
        <div class="pull-right" n:if="$user->loggedIn">
            <a n:href="edit#page-nav, $post->id" class="btn btn-success">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="#removeModal" data-toggle="modal" datat-target="#removeModal" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </header>
    <main>
        {$post->content|noescape}
    </main>
    <footer>
        {$post->author}
    </footer>
</article>
<figure>

</figure>
