{block content}

<h1>Kalendár</h1>

<section class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">    
    <table class="table">
        <thead>
            <tr>
                <th>Dátum</th>
                <th>Preteky</th>
                <th>Prihlášky do</th>
                <th>Miesto</th>
                <th>Poznámka</th>
                <th n:if="$user->loggedIn" colspan="2">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {foreach $races as $race}
                <tr>
                    <td>{$race->name}</td>
                    <td>
                        {if $race->dateFrom == $race->dateTo}
                            {$race->dateFrom}
                        {else}
                            {$race->dateFrom} - {$race->dateTo}
                        {/if}
                    </td>
                    <td>{$race->regTime}</td>
                    <td>{$race->place}</td>
                    <td>{if $race->note}{$race->note}{/if}</td>
                    <td n:if="$user->loggedIn">
                        <a n:href="edit#page-nav, $race->id" class="text-success">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td n:if="$user->loggedIn">
                        <a n:href="remove#page-nav, $race->id" class="text-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</section>