{block content}

<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6" id="customRemoveForm">
    <p>
        Naozaj chcete odstrańiť záznam o pretekoch {$race->name}?
    </p>
    {control removeForm}
</div>