{block content}

<h1>Mapy</h1>

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {foreach $collection as $map}
        <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a n:href="view#primary, $map->id">
                <img src="{$basePath}/{$imgFolder}/{if $map->thumbnail AND file_exists($imgFolder . '/' . $map->thumbnail)}{$map->thumbnail}
                     {else}default.jpg{/if}" 
                     alt="{$map->thumbnail}" class="img-responsive img-thumbnail" />
            </a>
            <figcaption>
                {$map->name}
                {if $user->loggedIn}
                    <a n:href="edit#page-nav, $map->id" class="text-success">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a n:href="remove#page-nav, $map->id" class="text-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                {/if}
            </figcaption>
        </figure>
    {/foreach}
</section>
