{block content}

<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6" id="customRemoveForm">
    <p>
        Naozaj chcete odstrániť kolekciu máp 
        <span class="text-uppercase">{$collection->name}</span> aj so všetkými mapami?
    </p>
    {control removeForm}
</div>