{block content}

<h1>{$collection->name}</h1>

{if $portrait != null}
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="portrait">
        {foreach $portrait as $map}
            <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <figcaption n:if="$user->loggedIn">
                    <a n:href="Maps:remove#page-nav, $map->id" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="#" class="btn btn-warning" title="orezať mapu">
                        <span class="glyphicon glyphicon-scissors"></span>
                    </a>
                    <a n:href="Maps:thumbnail#page-nav, $map->id" class="btn btn-success" title="nastaviť ako miniatúru">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </figcaption>
                <a href="{$basePath}/{$imgFolder}/{$map->name}">
                    <img src="{$basePath}/{$imgFolder}/{$map->name}" alt="{$map->name}" class="img-responsive img-thumbnail"/>
                </a>
            </figure>
        {/foreach}
    </section>
{/if}

{if $landscape != null}
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="landscape">
        {foreach $landscape as $map}
            <figure class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <figcaption n:if="$user->loggedIn">
                    <a n:href="Maps:remove#page-nav, $map->id" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="#" class="btn btn-warning" title="orezať mapu">
                        <span class="glyphicon glyphicon-scissors"></span>
                    </a>
                    <a n:href="Maps:thumbnail#page-nav, $map->id" class="btn btn-success" title="nastaviť ako miniatúru">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </figcaption>
                <a href="{$basePath}/{$imgFolder}/{$map->name}">
                    <img src="{$basePath}/{$imgFolder}/{$map->name}" alt="{$map->name}" class="img-responsive img-thumbnail" />
                </a>
            </figure>
        {/foreach}
    </section>
{/if}