{block content}

<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6" id="customRemoveForm">
    <p>
        Naozaj chcete odstrániť mapu <span class="text-uppercase">{$map->name}</span>?
    </p>
    {control removeForm}
</div>