{block content}
<h1 n:block=title>Prihlásenie</h1>

<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    {control signInForm}
</div>
    
{* or use {include '../components/form.latte', form => signInForm} *}
