/* CSS Document */

html, body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.75em;
}

* {
    font-family: 'Duru Sans', sans-serif;
}

nav#page-nav{
    width: 80%;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 0px;
    line-height: 50px;
}

nav#page-nav * {
    margin: 0;
}

nav#page-nav a {
    background: rgba(0,0,0,0.9);
    color: #fff;
}

nav#page-nav a:hover,
nav#page-nav a:focus{
    background: rgba(255, 165, 0, 0.9);
    color: #000;
}

main#primary{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
}

body > footer{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background: rgba(0,0,0,0.9);
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header#banner {
    width: 80%;
    height: 25%;
    margin: 0 auto;
}

nav#page-nav li > ul.dropdown-menu > li > a{
    background: rgba(255, 165, 0, 0.9);
    color: #000;
}

nav#page-nav ul.dropdown-menu:focus > li > a, 
nav#page-nav ul.dropdown-menu:hover > li > a{
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

article > main {
    clear:both;
}

article{
    margin: 20px;
}

figure{
    display: inline-block;
}

figcaption {
    text-align: center;
    font-weight: bold;
}

section > table.table {
    border-radius: 4px;
}

section > table > thead{
    background: #000;
    color: #fff;
    border: 1px solid black;
}

section > table > tbody > tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.9);
}

section > table > tbody > tr:nth-child(even) {
    background: rgba(236, 151, 31, 0.9);
}

main > div.row > section {
    margin: 25px 0px;
}

#portrait, #landscape{
    margin-bottom: 20px;
}

section > figure{
    margin-bottom: 20px;
}

figure > figcaption {
    height: 44px; 
    background: rgba(200, 200, 200, 0.9) none repeat scroll 0% 0%;
    line-height: 44px;
}

figure > figcaption a.btn{
    border-radius: 18px;
    margin: 5px 0;
}

figure > figcaption a.btn-danger{
    margin-left: 5px;
}

div.row > div#customRemoveForm{
    border: 1px solid black;
    background: rgba(225, 225, 225, 0.7) none repeat scroll 0% 0%;
    border-radius: 10px;
    padding: 15px;
    margin: 0 20px;
    font-weight: bold;
}